@mixin outline($accent) {
    background: transparent;
    border: 0.0625rem solid $accent;
    color: $accent;
    fill: $accent;

    &:active {
        background: $accent;
        color: white;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &:hover {
            background: $accent;
            color: white;
        }
    }
}

@mixin solid($accent) {
    background: $accent;
    color: white;
    fill: white;

    &::after {
        content: '';
        width: 0;
        height: 0.75rem;
        background: center / contain no-repeat url('/images/icons/arrow-right.svg');
        transition: $transition--hover;
    }

    &:active {
        background: #1a8b49;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &:hover {
            &::after {
                width: 1.5rem;
                margin-left: 0.5rem;
            }
        }
    }
}

.button {
    $self: &;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition--very-fast;
    user-select: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    appearance: none;
    border-radius: 0;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        // состояние для тапа
    }

    &:focus-visible {
        // фокус через клавиатуру
    }

    &--primary {
        color: $primary;
    }

    &--secondary {
        color: $dark;
    }

    &--solid {
        &#{$self}--primary {
            @include solid($primary);
        }

        &#{$self}--secondary {
            @include solid($dark);
        }

        &#{$self}--no-arrow {
            &::after {
                content: none;
            }
        }

        font-weight: 600;
        font-size: 1.125rem;
        line-height: 5.375rem;

        @include media('min-lg') {
            line-height: 6.25rem;
        }
    }

    &--outline {
        &#{$self}--primary {
            @include outline($primary);
        }

        &#{$self}--secondary {
            @include outline($dark);
        }

        font-weight: 500;
        font-size: 1.125rem;
        line-height: 5.375rem;
    }
}
