.header {
    padding: 1.125rem 0;
    z-index: 100;

    &.uk-active {
        box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.08);
    }

    @include media('max-lg') {
        background: rgba(255, 255, 255, 1);
    }

    @include media('min-lg') {
        padding: 2.4375rem 0;

        &.uk-active {
            background: rgba(255, 255, 255, 1);
            padding: 1rem 0;

            .header__logo {
                width: 4.5rem;
            }
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 3.3125rem;
        color: #18191f;

        svg {
            width: 100%;
        }

        @include media('min-lg') {
            width: 6.25rem;
        }
    }

    &__callback-button {
        @include media('max-lg') {
            display: none;
        }

        @include media('min-lg') {
            font-size: 0.75rem;
            width: 10.25rem;
            line-height: 2.75rem;
        }
    }

    &__navigation {
        @include media('min-lg') {
            margin-left: 3.875rem;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;

        @include media('max-lg') {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__link-item {
        @include media('max-lg') {
            &:not(:last-child) {
                margin-bottom: 0.375rem;
            }
        }
    }

    &__link {
        padding: 0.25rem 0.375rem;

        font-weight: 600;
        font-size: 0.875rem;
        color: $text-secondary;
        text-transform: uppercase;

        transition: $transition--hover;

        @include media('max-lg') {
            font-weight: normal;
            color: #333333;
        }

        &:hover {
            color: lighten($color: $primary, $amount: 0.9);
        }

        &.active {
            color: $primary;
        }
    }
}

.header-internal {
    display: block;
    padding: 0.6rem 0;
    margin-bottom: 0.4375rem;

    @include media('min-lg') {
        padding: 1rem 0;
        margin-bottom: 1.4375rem;
    }

    &__arrow {
        padding: 0.625rem 0.5rem;
        box-sizing: content-box;
        width: 1.0625rem;
        color: $text-headings;
        transform: scaleX(-1);
    }
}
