h1,
h2,
h3,
h4,
h5,
h6 {
    color: $text-headings;
    text-transform: uppercase;
    letter-spacing: 0.005em;
    font-weight: 600;
}

h1 {
    font-size: 2rem;

    @include media('min-lg') {
        font-size: 3rem;
    }

    &.internal-page {
        font-size: 2.25rem;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: revert;

        @include media('min-lg') {
            font-size: 4rem;
        }
    }
}

h2 {
    font-size: 2.0625rem;
    line-height: 1.1;

    @include media('min-lg') {
        font-size: 3rem;
    }
}

.s1 {
    padding-top: 3.3rem;
    padding-bottom: 2rem;

    @include media('max-lg') {
        height: calc(100vh - 7rem);
    }

    @include media('min-lg') {
        padding-top: 15.75rem;
        padding-bottom: 8.8125rem;
        margin-top: -7.75rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__bg {
        @include bg-ibg(white);
    }

    &__heading {
        font-size: 2.0625rem;
        line-height: 1.12;

        @include media('max-lg') {
            text-align: center;
        }

        @include media('min-lg') {
            font-size: 4.5rem;
            line-height: 1;
        }
    }

    &__subtitle {
        font-size: 0.875rem;
        margin-top: 1.475rem;

        @include media('max-lg') {
            line-height: 1.45;
            text-align: center;
        }

        @include media('min-lg') {
            max-width: 34.125rem;
            font-size: 1rem;
            margin-top: 2rem;
        }
    }

    &__target-button {
        width: 100%;
        line-height: 5.4375rem;
        margin-top: auto;
        margin-bottom: 0;

        @include media('min-lg') {
            width: 23.625rem;
            line-height: 6.25rem;
            margin-top: 9.3125rem;
        }
    }
}

.s2 {
    padding-top: 6.9125rem;
    padding-bottom: 4rem;

    @include media('min-lg') {
        padding-top: 14.6875rem;
        padding-bottom: 7.5rem;
    }

    &__heading {
        margin-bottom: 1.8625rem;

        @include media('min-lg') {
            margin-bottom: 5.25rem;
        }
    }

    &__list-wrapper {
        position: relative;
    }

    &__hero-image {
        @include media('max-lg') {
            display: none;
        }

        @include ibg(rgb(240, 236, 235));

        width: 49.85rem;
        height: 34rem;

        position: absolute;
        left: 0.0625rem;
        top: 0.0625rem;
        z-index: 2;

        img {
            transition: 1s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.15);
            }
        }
    }

    &__button {
        width: 100%;
        line-height: 5.4375rem;

        @include media('min-lg') {
            width: 24.95rem;
            line-height: 11.25rem;

            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;

        border: 0.0625rem solid $border-gray;

        position: relative;
    }

    &__list-item {
        padding: 0.65rem 2.875rem 1.1rem 1.125rem;
        position: relative;

        &:not(:last-child) {
            border-bottom: 0.0625rem solid $border-gray;
        }

        @include media('min-lg') {
            width: 25.1875rem;
            padding: 1.125rem 4.25rem 1.875rem 2.5rem;

            &--1,
            &--2,
            &--3 {
                margin-left: auto;
                margin-right: 0;
            }

            &--3,
            &--4 {
                border-bottom: none !important;
            }

            &--4 {
                width: 23.5625rem;
                border-right: 0.0625rem solid $border-gray;
            }

            &--5 {
                width: 26.1875rem;
                position: absolute;
                bottom: 0;
                left: 23.5625rem;
            }
        }

        &_number {
            font-weight: 500;
            font-size: 2rem;
            color: $primary;

            @include media('min-lg') {
                font-size: 3rem;
            }
        }

        &_text {
            font-size: 1.125rem;

            @include media('min-lg') {
                font-size: 1.25rem;
            }
        }
    }
}

.s3 {
    padding-top: 2.7875rem;
    padding-bottom: 3.925rem;

    @include media('min-lg') {
        padding-top: 9.6875rem;
        padding-bottom: 8.125rem;
    }

    &__heading {
        margin-bottom: 1.5rem;

        @include media('min-lg') {
            position: absolute;
            left: -4.1875rem;
            top: 4.875rem;
            transform: rotate(-90deg);
        }
    }

    &__breadcrumbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;

        @include media('min-lg') {
            width: 57.675rem;
        }
    }

    &__breadcrumb {
        color: $text-headings;
        font-weight: 600;
        font-size: 0.875rem;
        text-transform: uppercase;

        @include media('max-lg') {
            padding: 0.5rem;
            width: 50%;
            height: 14.625rem;
            margin-bottom: -0.0625rem;

            border: 0.0625rem solid $border-gray;

            &:nth-child(even) {
                margin-left: -0.0625rem;
            }

            &::after {
                // content: 'Подробнее';
                content: 'Оставить заявку';
                color: $text-tertiary;
                font-weight: 500;
                font-size: 0.625rem;
                margin-top: 0.1875rem;
            }
        }

        @include media('min-lg') {
            color: $text-tertiary;
            font-weight: 500;
            font-size: 1.5rem;
            margin-bottom: 2rem;

            &--has-slash {
                &::after {
                    content: '/';
                    padding: 0 2.0625rem;
                }
            }

            &--slash-narrow {
                &::after {
                    padding: 0 1.75rem;
                }
            }
        }

        > a {
            cursor: pointer;
            transition: 0.3s cubic-bezier(0.49, 0.44, 0.43, 1);
            position: relative;

            @include media('max-lg') {
                display: block;
            }

            @include media('min-lg') {
                // @include hover-bold(600, 1.5rem);

                &.active {
                    // font-weight: 600;
                    color: $primary;

                    &::before {
                        transform-origin: 0% 50%;
                        transform: scale3d(1, 1, 1);
                    }

                    // &::after {
                    //     content: '';
                    //     width: 0.75rem;
                    //     height: 0.75rem;
                    //     background: center / contain no-repeat url('/images/icons/arrow-right.svg');
                    //     transition: $transition--hover;
                    // }
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0.125rem;
                    background: currentColor;
                    top: 90%;
                    left: 0;
                    pointer-events: none;

                    transform-origin: 100% 50%;
                    transform: scale3d(0, 1, 1);
                    transition: transform 0.3s cubic-bezier(0.49, 0.44, 0.43, 1);
                }

                &:hover {
                    color: $primary;

                    &::before {
                        transform-origin: 0% 50%;
                        transform: scale3d(1, 1, 1);
                    }
                }
            }
        }
    }

    &__breadcrumb-image {
        @include ibg();
        width: 100%;
        height: 9.125rem;
        margin-bottom: 0.5rem;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.39%, rgba(0, 0, 0, 0.4) 100%);
        }

        @include media('min-lg') {
            display: none;
        }
    }

    &__preview-image-wrap {
        @include media('max-lg') {
            display: none;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        width: 31.25rem;
        height: 31.25rem;

        position: relative;
        margin: -1rem auto 0;
    }

    &__preview-star {
        width: 12.5rem;
        position: absolute;
    }

    &__preview-image {
        @include ibg(rgb(240, 236, 235));
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: $transition--normal;

        &.active {
            height: 100%;
        }
    }

    &__preview-text {
        width: 10.5rem;
        position: absolute;
        bottom: 0;
        left: calc(100% + 1.5rem);
    }
}

.s4 {
    padding-top: 3.2375rem;
    padding-bottom: 4rem;

    &__heading {
        margin-bottom: 3.15rem;

        @include media('min-lg') {
            margin-bottom: 4.45rem;
        }
    }

    &__show-all-link {
        display: inline-flex;

        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.1;
        color: $primary;

        // transition: $transition--hover;

        margin-top: 1rem;

        svg {
            width: 1.5rem;
            vertical-align: baseline;
            margin-left: 0.7rem;
            transform: rotate(-45deg);
        }

        &:hover {
            border-bottom: 0.0625rem solid $primary;
        }

        @include media('max-lg') {
            display: none;
        }
    }

    &__show-all-button {
        width: 100%;
        line-height: 5.375rem;
        margin-top: 2rem;

        svg {
            width: 1rem;
            vertical-align: baseline;
            margin-left: 0.7rem;
            transform: rotate(-45deg);
        }

        @include media('min-lg') {
            display: none;
        }
    }
}

.s5 {
    padding-top: 3rem;
    padding-bottom: 4rem;

    @include media('min-lg') {
        padding-top: 0.3125rem;
        padding-bottom: 7.675rem;
    }

    &__star-image {
        z-index: -1;
        width: 21.0625rem;
        position: absolute;
        top: 0;
        left: 12.5rem;

        @include media('min-lg') {
            width: 39.3125rem;
            right: 1.5rem;
            left: unset;
            top: 3.125rem;
        }
    }

    &__float-title {
        font-size: 0.75rem;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: $text-tertiary;
        transform: rotate(90deg);
        position: absolute;
        top: 3.4625rem;
        right: -2.075rem;

        @include media('min-lg') {
            font-size: 1.125rem;
            top: 19.0625rem;
            right: -3.875rem;
        }
    }

    &__heading {
        width: 18.8125rem;
        line-height: 1.245;
        margin-bottom: 2rem;

        @include media('max-lg') {
            font-size: 1.5rem;
        }

        @include media('min-lg') {
            width: 35.625rem;
            padding-top: 12.575rem;
            line-height: 1.6;
            margin-bottom: 7.25rem;
        }
    }

    &__form {
        @include media('min-lg') {
            flex-direction: row;
        }

        .input-wrap {
            @include media('max-lg') {
                margin-bottom: 0.5rem;
            }

            &:not(:last-child) {
                @include media('min-lg') {
                    margin-right: -1px;
                }
            }
        }

        .form {
            &__input {
                @include media('min-lg') {
                    width: 18.75rem;
                }
            }

            &__submit-button {
                @include media('min-lg') {
                    width: 18.75rem;
                }
            }

            &__agreement {
                @include media('min-lg') {
                    position: absolute;
                    bottom: -2rem;
                    color: $text-tertiary;
                }
            }
        }
    }
}

.s6 {
    padding-top: 3rem;
    padding-bottom: 4rem;

    @include media('min-lg') {
        padding-top: 7.5rem;
        padding-bottom: 9rem;
    }

    .container {
        @include media('max-lg') {
            padding: 0;
        }
    }

    &__heading {
        margin-bottom: 1.75rem;

        @include media('max-lg') {
            margin-left: 1rem;
        }

        @include media('min-lg') {
            margin-bottom: 5.25rem;
        }
    }

    &__steps-container {
        @include media('max-lg') {
            border-top: 0.0625rem solid $border-gray;
        }
    }

    &__step-item {
        padding: 1.5rem 1rem;
        height: fit-content;
        border-bottom: 0.0625rem solid $border-gray;
        position: relative;
        transition: $transition--normal;

        @include media('min-lg') {
            padding: 1.875rem 1.5rem;
        }

        &:hover {
            background: $primary;
            color: white;

            .s6 {
                &__step-image {
                    visibility: visible;
                    opacity: 1;
                }

                &__step-title,
                &__step-counter {
                    color: white;
                }

                &__step-descr {
                    height: 4.2rem;
                    margin: 0.75rem 0 0 auto;

                    @include media('min-lg') {
                        height: 6rem;
                        margin: 1.875rem 0 0 auto;
                    }
                }
            }
        }
    }

    &__step-image {
        @include ibg;
        @include center-item-y;
        left: 8.125rem;
        width: 11.75rem;
        height: 11.75rem;
        border-radius: 50%;
        visibility: hidden;
        opacity: 0;
        transition: inherit;

        @include media('max-lg') {
            display: none;
        }
    }

    &__step-counter {
        font-weight: 600;
        font-size: 0.75rem;
        text-transform: uppercase;

        position: absolute;
        top: 1.5rem;
        right: 1rem;

        @include media('max-lg') {
            color: $text-tertiary;
        }

        @include media('min-lg') {
            font-size: 1.125rem;
            top: 1rem;
            left: 1.5rem;
        }
    }

    &__step-title {
        max-width: 16.6875rem;
        font-weight: 500;
        font-size: 1.125rem;
        text-transform: uppercase;
        color: $text-tertiary;
        white-space: pre-line;
        transition: inherit;

        @include media('max-lg') {
            line-height: 1.22;
        }

        @include media('min-lg') {
            text-align: right;
            font-size: 2rem;
            max-width: 40.5625rem;
            margin: 0 0 0 auto;
        }
    }

    &__step-descr {
        height: 0;
        color: white;
        font-size: 0.75rem;
        overflow: hidden;
        transition: inherit;

        @include media('max-lg') {
            line-height: 1.4;
        }

        @include media('min-lg') {
            text-align: right;
            font-size: 1rem;
            max-width: 33rem;
            margin: 0 0 0 auto;
        }
    }
}

.s7 {
    padding-top: 3rem;
    padding-bottom: 9.7rem;

    @include media('min-lg') {
        padding-top: 8.4375rem;
        padding-bottom: 13.55rem;
    }

    &__heading {
        max-width: 47.625rem;
        margin-bottom: 4rem;

        @include media('max-lg') {
            font-size: 1.5rem;
            line-height: 1.22;
            margin-bottom: 0;
        }
    }

    &__figure {
        position: relative;
    }

    &__team-image {
        @include ibg;
        height: 43.375rem;

        @include media('max-lg') {
            height: 15.9375rem;
            margin-top: -1.6875rem;
        }
    }

    &__figcaption {
        width: 20.8125rem;
        padding: 1.5rem;

        background: $primary;
        color: white;
        font-weight: 500;
        font-size: 0.75rem;

        position: absolute;
        left: 0;
        bottom: -6.5125rem;

        @include media('min-lg') {
            width: 37.5rem;
            padding: 2rem 3.3125rem 2.9375rem 2rem;

            font-size: 1.5rem;

            right: 0;
            left: unset;
            bottom: -2.4125rem;
        }
    }
}

.s8 {
    padding-top: 3rem;
    padding-bottom: 4rem;

    @include media('min-lg') {
        padding-top: 5.9625rem;
        padding-bottom: 6.25rem;
    }

    &__heading {
        margin-bottom: 1.75rem;

        @include media('min-lg') {
            margin-bottom: 3.75rem;
        }
    }

    &__job-list {
        @include media('min-lg') {
            border: 0.0625rem solid $border-gray;
        }
    }

    &__list-item {
        padding: 1.5rem 1rem 1rem 1rem;
        display: flex;

        @include media('max-lg') {
            flex-direction: column;
            border: 0.0625rem solid $border-gray;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        @include media('min-lg') {
            justify-content: space-between;
            align-items: center;
            padding: 2.3rem 2rem;

            &:not(:last-child) {
                border-bottom: 0.0625rem solid $border-gray;
            }
        }
    }

    &__job-position {
        color: $text-headings;
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;

        @include media('max-lg') {
            font-size: 1.25rem;
        }
    }

    &__job-salary {
        font-weight: 500;
        font-size: 1.125rem;
        color: $text-tertiary;

        @include media('max-lg') {
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
    }

    &__item-button {
        width: 100%;

        @include media('max-lg') {
            line-height: 4.375rem;
        }

        @include media('min-lg') {
            width: 23.9375rem;
        }
    }

    &__link-show-all {
        display: inline-block;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.1;
        letter-spacing: 0.005em;
        color: $primary;
        margin-top: 3.75rem;

        svg {
            width: 1.5rem;
            vertical-align: baseline;
            transform: rotate(-45deg);
            margin-left: 0.3rem;
        }

        &:hover {
            border-bottom: 0.0625rem solid $primary;
        }

        @include media('max-lg') {
            display: none;
        }
    }

    &__show-all-button {
        margin-top: 1.3rem;

        svg {
            width: 1rem;
            vertical-align: baseline;
            transform: rotate(-45deg);
            margin-left: 0.3rem;
        }

        @include media('min-lg') {
            display: none;
        }
    }
}

.s9 {
    padding-top: 2.9rem;
    padding-bottom: 4rem;

    @include media('min-lg') {
        padding-top: 8.25rem;
        padding-bottom: 8.125rem;
    }

    &__heading {
        @include media('max-lg') {
            font-size: 1.5rem;
            margin-bottom: 1.7rem;
        }

        @include media('min-lg') {
            text-align: center;
            margin-bottom: 5.25rem;
        }
    }

    &__list {
        @include media('max-lg') {
            border-top: 0.0625rem solid $border-gray;
        }
    }

    &__list-item {
        padding: 1.5rem 0;
        display: flex;
        align-items: center;

        border-bottom: 0.0625rem solid $border-gray;

        color: $text-tertiary;

        transition: $transition--hover;
        overflow: hidden;

        @include media('min-lg') {
            padding: 2rem;

            &:nth-child(even) {
                flex-direction: row-reverse;
                text-align: right;

                .s9__list-icon {
                    padding-right: 0;
                    padding-left: 1.5rem;
                    margin-left: 0;
                    margin-right: -9.25rem;
                }
            }

            &:hover {
                background: $primary;
                color: white;
                border-bottom: 0.0625rem solid transparent;

                .s9__list-icon {
                    margin: 0;
                }
            }
        }
    }

    &__list-icon {
        transition: inherit;

        @include media('max-lg') {
            width: 3.375rem;
            margin-right: 0.8125rem;
            color: $primary;
        }

        @include media('min-lg') {
            color: white;
            width: 9.25rem;
            padding-right: 1.5rem;
            margin-left: -9.25rem;
        }
    }

    &__list-title {
        font-weight: 500;
        font-size: 1rem;
        text-transform: uppercase;

        margin-bottom: 0.5rem;

        @include media('max-lg') {
            color: $text-headings;
        }

        @include media('min-lg') {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    &__list-descr {
        font-size: 1rem;
        line-height: 1.4;

        @include media('max-lg') {
            font-size: 0.75rem;
            width: 17.25rem;
        }
    }

    &__button {
        width: 100%;
        margin-top: 4.5rem;

        @include media('min-lg') {
            width: 25.25rem;
            line-height: 6.25rem;
            margin: 0 0 0 auto;
        }
    }
}

.s10 {
    padding-top: 3rem;
    padding-bottom: 4rem;

    @include media('min-lg') {
        padding-top: 7rem;
        padding-bottom: 8.125rem;
    }

    &__content-container {
        @include media('min-lg') {
            display: flex;
            justify-content: space-between;
            border: 0.0625rem solid $border-cadet;
            border-right: none;
        }
    }

    &__head {
        @include media('min-lg') {
            padding: 3rem;
        }
    }

    &__title {
        max-width: 29.5625rem;
        margin-bottom: 1.5rem;
    }

    &__subtitle {
        max-width: 28.9375rem;
        font-size: 1.125rem;
        color: $text-headings;

        @include media('max-lg') {
            margin-bottom: 2rem;
        }
    }

    &__form {
        @include media('min-lg') {
            width: 37.5rem;
        }

        .form {
            &__input {
                margin-top: -0.0625rem;
            }

            &__agreement {
                @include media('min-lg') {
                    position: absolute;
                    bottom: -1.5rem;
                }
            }
        }
    }
}

.s11 {
    padding-top: 3rem;
    padding-bottom: 2.8rem;

    @include media('min-lg') {
        padding-top: 8.125rem;
        padding-bottom: 7.5rem;
    }

    &__title {
        @include media('max-lg') {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__content-container {
        @include media('min-lg') {
            display: flex;
            justify-content: space-between;
        }
    }

    &__map-image {
        @include ibg(rgb(240, 236, 235));
        width: 23.4375rem;
        height: 10.75rem;

        @include media('max-lg') {
            @include center-item-x(relative);
        }

        @include media('min-lg') {
            width: 37.5rem;
            height: 28.875rem;
        }
    }

    &__contacts {
        position: relative;

        @include media('min-lg') {
            width: 36rem;
        }
    }

    &__contacts-info-container {
        @include media('min-lg') {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &__contacts-info-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:first-child {
            margin-bottom: 2.325rem;

            @include media('min-lg') {
                margin-bottom: 4.625rem;
            }
        }
    }

    &__contacts-info-title {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        color: #43444e;

        margin-bottom: 1.4rem;
    }

    &__contacts-info-item {
        max-width: 15rem;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.6;
        color: $text-tertiary;

        &:not(:last-child) {
            margin-bottom: 0.35rem;
        }
    }

    &__personal-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: 0;
        bottom: 0;

        a {
            font-size: 0.75rem;
            line-height: 1.25;
            color: $text-tertiary;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        @include media('max-lg') {
            display: none;
        }
    }
}

.s12 {
    padding-bottom: 4rem;

    &__title {
        margin-bottom: 2.15rem;

        @include media('max-lg') {
            font-size: 2.15rem !important;
        }

        @include media('min-lg') {
            margin-bottom: 4.45rem;
        }
    }
}

.s13 {
    padding-top: 1.5625rem;
    padding-bottom: 4.75rem;

    @include media('min-lg') {
        padding-top: 6.25rem;
        padding-bottom: 7.4375rem;
    }

    &__title {
        font-weight: 500;
        line-height: 1.5;

        margin-bottom: 1.5rem;

        @include media('max-lg') {
            font-size: 1.5rem;
        }

        @include media('min-lg') {
            max-width: 54.125rem;
            margin-bottom: 4.4375rem;
        }
    }

    &__form {
        @include media('min-lg') {
            flex-direction: row;
        }

        .form {
            &__submit-button {
                @include media('max-lg') {
                    line-height: 4rem;
                }
            }

            @include media('min-lg') {
                &__input,
                &__submit-button {
                    width: 37.5rem;
                }

                &__agreement {
                    position: absolute;
                    bottom: -2rem;
                    color: $text-tertiary;
                }
            }
        }
    }
}
