// --- Color system ---

$text-light: #ffffff;
$text-secondary: #4f4f4f;
$text-tertiary: #828282;
$text-headings: #292929;

$border-gray: #e2e2e2;
$border-cadet: #d4d9e8;

$light: #fcfcfc;
$dark: #2b3034;
$muted: #c5c5c5;

$primary: #18a452;
$secondary: $dark;

$success: $primary;
$danger: #e86565;
$warning: #ff8a00;
$info: #0d6efd;

$placeholder: $text-tertiary;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// --- Options ---

$enable-display-utilites: true;
$enable-position-utilites: false;
$enable-grid-classes: true;
$enable-smooth-scroll: false;

// --- Body ---

$body-bg: null;
$body-color: $text-secondary;
$body-text-align: null;

// --- Links ---

$link-color: $blue;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: null;

// --- Animations ---

// https://ux.pub/polnoe-rukovodstvo-po-pravilnomu-ispolzovaniyu-animatsii-v-ux/

$animation-type: ease-in-out;
// -- hover effects, fading, scaling
$transition--very-fast: all 100ms $animation-type;
$transition--fast: all 200ms $animation-type;
// -- large moves, complex easing
$transition--normal: all 300ms $animation-type;
$transition--slow: all 400ms $animation-type;
$transition--very-slow: all 500ms $animation-type;

$transition--hover: all 150ms $animation-type;
$transition-base: all 200ms ease-in-out;
$transition-fade: opacity 150ms linear;
$transition-collapse: height 350ms ease;

// --- GRID system ---

$grid-breakpoints: (
    xs: 0,
    sm: 420px,
    md: 768px,
    lg: 1230px,
);

$container-max-widths: (
    sm: 420px,
    md: 480px,
    lg: 1230px,
);

$grid-columns: 12;
$grid-gutter-width: 2rem;
$grid-row-columns: 6;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');
@include _assert-ascending($container-max-widths, '$container-max-widths');

// --- Typography ---

$font-family-base: 'Montserrat', Arial, sans-serif;
$font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$font-size-base: 1rem;
$line-height-base: 1.5;

$small-font-size: 0.875em;
$sub-sup-font-size: 0.75em;
$code-font-size: $small-font-size;
$code-color: $pink;
$pre-color: null;

// --- Utilities ---

$displays: none, inline, inline-block, block, flex;
$overflows: auto, hidden;
$positions: static, relative, absolute, fixed, sticky;

$embed-responsive-aspect-ratios: ();
$embed-responsive-aspect-ratios: join(((21 9), (16 9), (4 3), (1 1)), $embed-responsive-aspect-ratios);

// значение прозрачности для заблоченых ссылок, кнопок, инпутов
$disabled-opacity: 0.7;
